<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link   th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시판</title>
</head>
<body>
<h1>게시글 목록</h1>

<table>
    <thead>
    <tr>
        <th>게시글 번호</th>
        <th>게시글 제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td><a th:href="@{/post/{id}(id=${post.id})}"  th:text="${post.title}">제목</a></td>
        <td th:text="${post.userName}"></td>
        <td th:text="${#temporals.format(post.registerDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>

<!-- 글쓰기 버튼 -->
<a href="/write">
    <button>글쓰기</button>
</a>
</body>
</html>
